
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 15vh; /* Adjust padding to accommodate fixed header */
    font-family: sans-serif;
    color: #000;
}

#header {
    width: 100%;
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure header stays above other content */
    background-color: #fff;
}
.container {
    padding: 1% 10%;
    position: relative; /* Ensure relative positioning for contained elements */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    height: 60px;
    width: 60px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: 600;
}

nav ul li a::after{
    content: "" ;
    width: 0%;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.7s;
}

nav ul li a:hover::after{
    width: 100%;
}


.header-text{
    margin-top: 20%;
    font-size: 30px;
}
/* --------------------------------------------start text animation------------------------------------------------------ */
.test{
    opacity: 0; /* Initially make the text transparent */
    animation-fill-mode: forwards; /* Retain the final state of the animation */
}
@keyframes fadeIn {
    from {
      opacity: 0; /* Start with transparency */
    }
    to {
      opacity: 1; /* Gradually make it fully opaque */
    }
  }
#txt-delay{
    animation: fadeIn 4s ease forwards;
}
#txt-slow{
    animation: fadeIn 3s ease 1s forwards; /* Start after 1 second delay */
}
/* ---------------------------------------------------------------------------End text animation--------------------------- */

.header-text h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.header-text h1 span{
    color: #1200b0;
}
/* ----- */
.cover {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    font-size: 100;
    color: #0a0a0a;
  }
  .avatar {
    margin: auto;
    width: 400px;
    height: 400px;
    margin-top: 100px;
    cursor: pointer;
    border-radius: 50%;
    position: relative; /* Ensure the pseudo-element is positioned relative to this element */
    animation: slideIn 3s ease-in-out forwards; /* Delay pulse animation by 3s */
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: none;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.avatar:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
        opacity: 1;
    }
    25% {
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
    }
    50% {
        box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.6);
        transform: translateY(-15px);
    }
    75% {
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.6);
        transform: none;
    }
}



/* -----------------------------start about------------------------------- */
#about{
    padding: 80px 0;
}

.about-col-1 img{
    height: 400px;
    width: 250px;
    border-radius: 18%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: rgb(13, 27, 90)
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #d71855;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.7s;
}

.tab-links.active-link::after{
    width: 50%;
    background: #d71855;
}

.tab-links:hover::after{
    width: 100%;
}

.tab-contents ul li{
    
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #1200b0;
    font-size: 14px;
    font-weight: 600;
}

.tab-contents{
    display: none;
    animation: fadeIn 4s ease forwards;
}

.tab-contents.active-tab{
    display: block;
    
}

.about-col-2 p {
    line-height: 22px;
}

/* -----------------------------------------portfolio */
#portfolio{
    padding: 50px 0;
    animation: fadeIn 4s ease forwards;
}

/* .work-list .row .col-sm-4{
    width: 400px;
    height: 200px; 
} */

.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.8s;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.layer{
    width: 100%;
    height: 0%;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.6), #0059ff) ;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}

.layer a{
    color: #0059ff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.2);
}

.work:hover .layer{
    height: 100%;
}


/*------------------------------contact----- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 25px;
}
.contact-left p i{
    color: #1200b0;
    margin-right: 15px;
    font-size: 22px;
}

.social-icons{
    margin-top: 25px;
}

.social-icons a{
  text-decoration: none;
  font-size: 22px;
  margin-right: 15px;
  color: rgb(13, 27, 90);
  display: inline-block;
  transition: transform 0.8s;
}

.social-icons a:hover{
    color: #1900ff;
    transform: translateY(-5px);
}

.btn{
    /* display: block;
    margin: 30px auto;
    width: fit-content;
    border: 1px solid #1900ff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    background-color: #b54769;
    transition: background 0.8s; */
}

.btn.btn2{
    border: 1px solid #1900ff;
    color: #1f068f;
    background: #fff;
    display: inline-block;
    transition: background 0.8s; 
    font-weight: 600;
}

.btn.btn2:hover{
    color: #fff;
    background: #1f068f;
    border: 1px solid #1900ff;
}

.contact-right form{
    ime-mode: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #c2bfbe;
    padding: 15px;
    margin: 15px 0;
    color: #000;
    font-size: 18px;
    border-radius: 6px;
}

form btn2{
    padding: 14px 50px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/*------------------------------------------------footer */

#footer{
    height: 20vh;
    background: #272525;
    color: #fff;
}

.menu{
    margin-left: 100px;
    display: flex;
}

.navfooter{
    margin: 45px 100px 45px 300px;
}
.navfooter a{
    font-size: 18px;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    margin-left: 25px;
}

.navfooter a::after{
    content: "" ;
    width: 0%;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.7s;
}
.navfooter a:hover::after{
    width: 100%;
}
.navfooter a{}

.footersocial-icons{
    margin-top: 45px;
}

.footersocial-icons a{
    text-decoration: none;
    font-size: 22px;
    margin-left: 25px;
    color: rgb(212, 212, 212);
    display: inline-block;
    transition: transform 0.8s;
}

.footersocial-icons a:hover{
    color: #ffffff;
    transform: translateY(-5px);
}



/* ------------------------------------------------------------
---------------------------------------------------------------CSS FOR SMALL SCREENS */
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
    body {
        padding-top: 10vh; /* Increase padding for smaller screens */
    }

    #about,
#portfolio,
#contact {
    padding-top: 100px; /* Adjust padding to accommodate fixed header */
}
    .header-text{
        margin-top: 30%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #1e0db8;
        position: fixed;
        top: 0;
        right: -200px;
        color: #fff;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.7s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul li a{
        color: #fff;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /* --about-- */
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .about-col-1 img{
        height: 200px;
        width: 130px;
        border-radius: 18%;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }


    /*----- contact---- */
    .contact-left, .contact-right{
        flex-basis: 100%;
        font-size: 14px;
    }

    .avatar{
        width: 220px;
        height: 220px;
        margin: 10px 20%;
    }
    /* .contact-left p span{
        display: inline-block;
    } */

    /* footer */
    #footer{
        height: 22vh;
        background: #272525;
        color: #fff;
    }
    .menu{
        margin: 20px;
        
    }
    .navfooter{
        margin: 15px;
        display: block;
        width: 60px;
    }
    .navfooter a{
        margin-top: 15px;
        font-size: 12px;
        position: relative;
        text-decoration: none;
        color: #fff;
        font-weight: 400;
    }


    .footersocial-icons{
        margin: 40px 25px;
        display: block;
    }
    .footersocial-icons a{
        font-size: 14px;
        color: rgb(212, 212, 212);
        display: inline-flex;
        transition: transform 0.8s;
    }    

    .btn{
        display: block;
        margin: 20px auto;
        width: fit-content;
        border: 1px solid #1900ff;
        padding: 10px 20px;
        border-radius: 6px;
        text-decoration: none;
        color: #000;
        font-weight: 600;
        background-color: #b54769;
        transition: background 0.8s;
    }
    
}

@media only screen and (max-width: 600px) {
    #about,
    #portfolio,
    #contact {
        padding-top: 120px; /* Increase padding for smaller screens */
    }
}
    
